<div class="cards">
  {{#posts}}
    <div class="card">
      <div class="card-img"><img src="/uploads/{{img1}}" alt="#" /></div>
      <div class="card-text">
        <p>{{created_at}}</p>
        <h2>{{title}}</h2>
        <p>{{text1}}</p>
        <button><a href="/detail/{{id}}">learn more</a></button>
        <div class="card-icons">
          <form
            action="/like/{{id}}"
            enctype="multipart/form-data"
            method="POST"
          >
            <input class="icon" type="image" src="/uploads/like.png" />
          </form>
          <p>{{likes.count}} Likes</p>
        </div>
      </div>
    </div>
  {{/posts}}
</div>