{{#posts}}
  <div class="cards">
    <div class="twocards">
    <div class="card-one">
    <div class="cards-img"><img
        src="/uploads/dion-tavenier-h-Qb-9H6Big-unsplash.jpg"
        alt="#"
      /></div>
    <div class="cards-text">
      <p>{{created_at}}</p>
      <h2>{{title}}</h2>
      <p>{{text}}</p>
      <button><a href="/detail">learn more</a></button>
    </div>
  </div>

  <div class="card-two">
    <div class="cards-img"><img
        src="/uploads/dion-tavenier-h-Qb-9H6Big-unsplash.jpg"
        alt="#"
      /></div>
    <div class="cards-text">
      <p>{{created_at}}</p>
      <h2>{{title}}</h2>
      <p>{{text}}</p>
      <button><a href="/detail">learn more</a></button>
    </div>
  </div>
  </div>
  </div>
{{/posts}}