{{#posts}}
  <div class="body">
    <div class="detailseite">
      <div class="detailseite-lead">
        <img src="/uploads/{{img1}}" alt="" />
        <div class="detailseite-lead-text">
          <p>{{created_at}}</p>
          <div class="detailseite-titel">
            <h2>{{title}}</h2>
            <form
              action="/like/{{id}}"
              enctype="multipart/form-data"
              method="POST"
            >
              <input class="icon" type="image" src="/uploads/like.png" />
            </form>
            <a href="kommentar"><img
                class="icon"
                src="/uploads/chat.png"
                alt=""
              /></a>
          </div>
          <p class="detailtext1">{{text1}}</p>
        </div>
      </div>
      <div class="detailseite-abschnitt2">
        <div class="detailseite-abschnitt2-text">
          <p>{{text2}}
          </p>
        </div>
        <div class="detailseite-imgs">
          <img src="/uploads/{{img2}}" alt="" />
          <div class="detailseite-imgs-klein">
            <img src="/uploads/{{img3}}" alt="" />
            <img src="/uploads/{{img4}}" alt="" />
          </div>
        </div>
      </div>
    </div>
    <button><a href="/">Home</a></button>
  </div>
{{/posts}}

<p>{{likes.count}} Likes</p>